<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
	<add key="ServerAddressesList" value="localhost=10000,love2.ad.uvu.edu=10000"/>
	<add key="" value=""/>
    </appSettings>
    <runtime>
	<gcAllowVeryLargeObjects enabled="true"/>
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
